<section class="row justify-content-center m-1">
  <div class="col-md-11 col-xl-8">
    <h2>Listagem de Aluguéis</h2>

    <div class="row g-1 mt-3">
      <a mat-flat-button class="col-md-6 col-xl-2" routerLink="cadastrar">
        <mat-icon>add</mat-icon>
        Cadastrar
      </a>
    </div>

    <hr />

    <div class="row g-3">
      @for (aluguel of alugueis$ | async; track $index) {
        <div class="col-md-6 col-xl-5">
          <mat-card class="p-1">
            <mat-card-header>
              <mat-card-title class="money-color">{{
                aluguel.valorTotal | currency
              }}</mat-card-title>
            </mat-card-header>

            <mat-card-content style="min-height: 40px" class="mt-2">
              <mat-card-subtitle>Condutor: {{ aluguel.condutor.nome }}</mat-card-subtitle>
              <mat-card-subtitle>Cliente: {{ aluguel.condutor.cliente.nome }}</mat-card-subtitle>
              <mat-card-subtitle
                >Grupo de Veículo: {{ aluguel.grupoVeiculo.nome }}</mat-card-subtitle
              >
              <mat-card-subtitle>Veiculo: {{ aluguel.veiculo.placa }}</mat-card-subtitle>
              @if (aluguel.veiculo.imagemBase64 !== null) {
                <img [src]="aluguel.veiculo.imagemBase64" width="200px" height="200px" />
              } @else {
                <img src="/img/default-image.png" width="200px" height="200px" />
              }
              <mat-card-subtitle
                >Data Entrada: {{ aluguel.dataInicio | date: 'dd/MM/yyyy' }}</mat-card-subtitle
              >
              <mat-card-subtitle
                >Data Retorno: {{ aluguel.dataFim | date: 'dd/MM/yyyy' }}</mat-card-subtitle
              >
              <mat-card-subtitle>Plano: {{ aluguel.planoCobranca.tipoPlano }}</mat-card-subtitle>

              @if (aluguel.taxasServicos) {
                <mat-card-subtitle>Taxa/Serviço:</mat-card-subtitle>
                @for (taxaServico of aluguel.taxasServicos; track $index) {
                  <mat-card-subtitle>{{ taxaServico.nome }}</mat-card-subtitle>
                }
              } @else {
                <mat-card-subtitle>Não possui taxa/serviço</mat-card-subtitle>
              }
            </mat-card-content>

            <mat-card-actions align="end">
              <a [routerLink]="['finalizar', aluguel.id]" mat-icon-button
                ><mat-icon>check</mat-icon></a
              >
              <a [routerLink]="['editar', aluguel.id]" mat-icon-button><mat-icon>edit</mat-icon></a>
              <a [routerLink]="['excluir', aluguel.id]" mat-icon-button class="ms-1"
                ><mat-icon>delete</mat-icon></a
              >
            </mat-card-actions>
          </mat-card>
        </div>
      }
    </div>
  </div>
</section>
