<section class="row justify-content-center m-1">
  <div class="col-md-11 col-xl-8">
    <h2>Edição de Veículo</h2>
    <hr />

    <mat-card class="p-2">
      @if (veiculo$ | async) {
        <form [formGroup]="veiculoForm" (ngSubmit)="editar()">
          <mat-card-header>
            <mat-card-title>Preencha o formulário de edição</mat-card-title>
          </mat-card-header>
          <mat-card-content class="mt-5">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Grupo de Veículo</mat-label>
              <mat-select formControlName="grupoVeiculoId">
                @for (grupoVeiculo of gruposVeiculos$ | async; track $index) {
                  <mat-option [value]="grupoVeiculo.id">{{ grupoVeiculo.nome }}</mat-option>
                }
              </mat-select>

              @if (grupoVeiculoId?.errors?.['required']) {
                <mat-error>O grupo de veículos é obrigatório.</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Placa</mat-label>
              <input
                formControlName="placa"
                matInput
                type="text"
                mask="SSS-0000||SSS0S00"
                [dropSpecialCharacters]="false"
              />

              @if (placa?.errors?.['required']) {
                <mat-error>A placa é obrigatória.</mat-error>
              }

              @if (placa?.errors?.['pattern']) {
                <mat-error>A placa deve seguir o padrão ABC-0000 ou BRA0S17.</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Marca</mat-label>
              <input formControlName="marca" matInput type="text" />

              @if (marca?.errors?.['required']) {
                <mat-error>A marca é obrigatória.</mat-error>
              }

              @if (marca?.errors?.['minlength']) {
                <mat-error>A marca deve conter no mínimo 3 caracteres.</mat-error>
              }

              @if (marca?.errors?.['maxlength']) {
                <mat-error>A marca deve conter no máximo 50 caracteres.</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Modelo</mat-label>
              <input formControlName="modelo" matInput type="text" />

              @if (modelo?.errors?.['required']) {
                <mat-error>O modelo é obrigatório.</mat-error>
              }

              @if (modelo?.errors?.['minlength']) {
                <mat-error>O modelo deve conter no mínimo 3 caracteres.</mat-error>
              }

              @if (modelo?.errors?.['maxlength']) {
                <mat-error>O modelo deve conter no máximo 50 caracteres.</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Cor</mat-label>
              <input formControlName="cor" matInput type="text" />

              @if (cor?.errors?.['required']) {
                <mat-error>A cor é obrigatória.</mat-error>
              }

              @if (cor?.errors?.['minlength']) {
                <mat-error>A cor deve conter no mínimo 3 caracteres.</mat-error>
              }

              @if (cor?.errors?.['maxlength']) {
                <mat-error>A cor deve conter no máximo 50 caracteres.</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Tipo de Combustível</mat-label>
              <mat-select formControlName="tipoCombustivel">
                @for (tipo of tiposCombustiveis; track $index) {
                  <mat-option [value]="tipo">{{ tipo }}</mat-option>
                }
              </mat-select>

              @if (tipoCombustivel?.errors?.['required']) {
                <mat-error>O tipo de Combustível é obrigatório.</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Capacidade do tanque</mat-label>
              <input formControlName="capacidadeTanque" matInput type="number" />

              @if (capacidadeTanque?.errors?.['required']) {
                <mat-error>A capacidade do tanque é obrigatória.</mat-error>
              }
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions align="end">
            <a mat-stroked-button routerLink="/veiculos">Voltar</a>
            <button
              type="submit"
              [disabled]="veiculoForm.invalid"
              mat-flat-button
              class="ms-2 px-5"
            >
              <mat-icon>check</mat-icon>
              Concluir
            </button>
          </mat-card-actions>
        </form>
      }
    </mat-card>
  </div>
</section>
