<section class="row justify-content-center m-1">
  <div class="col-md-11 col-xl-8">
    <h2>Listagem de Condutores</h2>

    <div class="row g-1 mt-3">
      <a mat-flat-button class="col-md-6 col-xl-2" routerLink="cadastrar">
        <mat-icon>add</mat-icon>
        Cadastrar
      </a>
    </div>

    <hr />

    <div class="row g-3">
      @for (condutor of condutores$ | async; track $index) {
        <div class="col-md-6 col-xl-5">
          <mat-card class="p-1">
            <mat-card-header>
              <mat-card-title>{{ condutor.nome }}</mat-card-title>
            </mat-card-header>

            <mat-card-content style="min-height: 40px" class="mt-2">
              <mat-card-subtitle>Nome Cliente: {{ condutor.cliente.nome }}</mat-card-subtitle>
              @if (condutor.cliente.tipoCliente === 'PessoaFisica') {
                <mat-card-subtitle>CPF Cliente: {{ condutor.cliente.cpf }}</mat-card-subtitle>
              } @else {
                <mat-card-subtitle>CNPJ Cliente: {{ condutor.cliente.cnpj }}</mat-card-subtitle>
              }
              <mat-card-subtitle
                >Cliente condutor: {{ condutor.clienteCondutor ? 'Sim' : 'Não' }}</mat-card-subtitle
              >
              <mat-card-subtitle>Email: {{ condutor.email }}</mat-card-subtitle>
              <mat-card-subtitle>CPF: {{ condutor.cpf }}</mat-card-subtitle>
              <mat-card-subtitle>CNH: {{ condutor.cnh }}</mat-card-subtitle>
              <mat-card-subtitle
                >Validade CNH: {{ condutor.validadeCnh | date: 'dd/MM/yyyy' }}</mat-card-subtitle
              >
              <mat-card-subtitle>Telefone: {{ condutor.telefone }}</mat-card-subtitle>
            </mat-card-content>

            <mat-card-actions align="end">
              <a [routerLink]="['editar', condutor.id]" mat-icon-button
                ><mat-icon>edit</mat-icon></a
              >
              <a [routerLink]="['excluir', condutor.id]" mat-icon-button class="ms-1"
                ><mat-icon>delete</mat-icon></a
              >
            </mat-card-actions>
          </mat-card>
        </div>
      }
    </div>
  </div>
</section>
